<h1><%= @title %></h1>
<p>Dear <%= @customer_name %>, <%= @selected_barber %> will be waiting for you on <%= @appointment_date %> at <%= @appointment_time %></p>
<p>We will contact you by your phone number <%= @customer_phone %> within an hour to confirm your appointment</p>

<button style="width: 250px;">
  <a href="/appointment/form">Make another appointment</a>
</button>
<button style="width: 250px;">
  <a href="/">Home</a>
</button>