<div class="pt-2 ps-lg-2">
  <div class="mb-3">
    <h4 class="bs-title mb-0">Book now</h4>
    <p class="bs-lead">Please fill in the register form</p>
  </div>
</div>

<div class="pt-2 ps-lg-2 w-25">
  <form action="/serverside_validation_form/submit" method="POST">
    <div class="mb-3">
      <select class="form-select" name = "selected_barber" id="barber_select">
        <option value="" selected disabled hidden>Choose your barber:</option>
        <option value="Walter White">Walter White</option>
        <option value="Jessie Pinkman">Jessie Pinkman</option>
        <option value="Gus Fring">Gus Fring</option>
      </select>
      <%= @data_incomplete ? show_response(@validation_response[:selected_barber]) : '' %>
    </div>

    <div class="mb-3">
      <label class="form-label visually-hidden">Name:</label>
      <input class="form-control" type="text" name="customer_name" placeholder="Name:" value="<%= @data[:customer_name] %>">
      <%= @data_incomplete ? show_response(@validation_response[:customer_name]) : '' %>
    </div>

    <div class="mb-3">
      <label class="form-label visually-hidden">Phone:</label>
      <input class="form-control" type="tel" name="customer_phone" placeholder="Phone:" value="<%= @data[:customer_phone] %>">
      <%= @data_incomplete ? show_response(@validation_response[:customer_phone]) : '' %>
    </div>

    <div class="mb-3">
      <label class="form-label visually-hidden">Date:</label>
      <input class="form-control" type="date" name="appointment_date" placeholder="Date:" value="<%= @data[:appointment_date] %>">
      <%= @data_incomplete ? show_response(@validation_response[:appointment_date]) : '' %>
    </div>

    <div class="mb-3">
      <label class="form-label visually-hidden">Time:</label>
      <input class="form-control" type="time" name="appointment_time" placeholder="Time:" value="<%= @data[:appointment_time] %>">
      <%= @data_incomplete ? show_response(@validation_response[:appointment_time]) : '' %>
    </div>

    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Make an appointment!</button>
    </div>
  </form>
</div>



<script>
  function selectElement(id, valueToSelect) {
    let selectForm = document.getElementById(id);
    selectForm.value = valueToSelect;
  }

  selectElement('barber_select', '<%= @data[:selected_barber] %>');
</script>